<div class="alert alert-info" role="alert">
  <h4>Connect the correct booking item ID</h4>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
</div>


<%= render(CardComponent.new(title: 'Connect booking')) do %>
  <%= form_with model: form, url: invoice_processes_path(form.invoice, step: step), method: :patch, html: { id: "#{step}_form" } do |f| %>
    <%= render(TextFieldComponent.new(f: f, name: :booking_id, label: t('forms.connect_booking.booking_id_label'), required: true)) %>
  <% end %>
<% end %>
