<footer class="footer fixed-bottom bg-light py-3">
  <div class="container d-flex justify-content-between">
    <button class="btn btn-secondary btn-sm">← Previous</button>

    <%= button_tag "Go To Next Step →", form: current_form_id, class: "btn btn-primary btn-sm" %>
  </div>
</footer>