<div class="alert alert-info" role="alert">
  <h4>Verify the booking</h4>
  <p>Please make sure that all of the following information is correctly shown on the received invoice.</p>
</div>

<%= form_with model: @form, url: invoice_processes_path(@form.invoice, step: @step), method: :patch do |f| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Connect booking</h5>

      <%= form_with model: @form, url: invoice_processes_path(@form.invoice, step: @step), method: :patch, html: { id: "#{@step}_form" } do |f| %>
        <%= f.label :booking_id, t('forms.connect_booking.booking_id_label'), class: 'form-label' %>
        <%= f.text_field :booking_id, required: true, class: 'form-control' %>
      <% end %>
    </div>
  </div>


<% end %>